{% extends 'url_cutter/index.html' %}
{% load i18n %}
{% block title %}{% translate 'URL Cutter | Login' %}{% endblock %}
{% block main %}
    <div class="container">
        <main class="d-flex flex-column align-items-center justify-content-center overflow-hidden"
              style="height: 100vh">
            <h1 class="display-1 fw-bold mb-5">
                <a href="{% url 'url_cutter:index' %}" class="text-white text-decoration-none">
                    {% translate 'URL Cutter' %}
                </a>
            </h1>
            <form method="post" class="text-left col-12 col-md-4">
                {% csrf_token %}
                <h2 class="mb-5 fw-normal text-center">
                    {% translate 'Please login' %}
                </h2>
                <div class="form-floating mb-5">
                    <input required
                           type="text"
                           autofocus
                           name="username"
                           maxlength="150"
                           id="id_username"
                           spellcheck="false"
                           autocapitalize="none"
                           autocomplete="username"
                           class="form-control bg-dark text-white"
                           placeholder="{% translate 'Username' %}"
                    >
                    <label for="id_username">
                        {% translate 'Username' %}
                    </label>
                </div>
                <div class="form-floating">
                    <input required
                           type="password"
                           name="password"
                           id="id_password"
                           autocomplete="current-password"
                           class="form-control bg-dark text-white"
                           placeholder="{% translate 'Password' %}"
                    >
                    <label for="id_password">
                        {% translate 'Password' %}
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">
                    {% translate 'Log In' %}
                </button>
            </form>
        </main>
    </div>
{% endblock %}