{% extends 'url_cutter/index.html' %}
{% load i18n %}
{% block title %}{% translate 'Your shortened URL is ready' %}{% endblock %}
{% block content %}
    <h2 class="mb-5">
        {% translate 'URL shortening complete' %}
    </h2>
    <p class="lead">
        {% translate 'Your shortened URL for ' %}{{ url.url }}{% translate ' is:' %}
    </p>
    <div class="input-group mb-5">
        <div class="form-floating">
            <input
                    type="url"
                    id="shortened"
                    name="shortened"
                    class="form-control bg-dark text-white"
                    value="{{ site_name }}{{ url.shortened }}/"
            >
            <label for="shortened">
                {% translate 'Shortened URL' %}
            </label>
        </div>
        <button
                id="copy-btn"
                type="button"
                onclick="inform()"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                class="btn btn-lg btn-outline-primary"
                data-clipboard-text="{{ site_name }}{{ url.shortened }}/"
        >
            <i class="bi bi-clipboard me-4"></i>
            {% translate 'Copy' %}
        </button>
    </div>
    <div class="d-grid d-md-flex align-items-center gap-4 my-5">
        <a class="btn btn-lg btn-outline-success"
           href="{% url 'url_cutter:redirect' url.shortened %}" target="_blank">
            <i class="bi bi-check-lg me-4"></i>
            {% translate 'Verify' %}
        </a>
        <a class="btn btn-lg btn-outline-warning" href="{% url 'url_cutter:index' %}">
            <i class="bi bi-house me-4"></i>
            {% translate 'Home' %}
        </a>
    </div>
{% endblock %}
{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"
            integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        {# Copy to cliboard implementaion #}
        let copyBtn = new ClipboardJS('#copy-btn')

        {# onClick #}
        let btn = document.getElementById('copy-btn')

        function inform() {
            btn.innerHTML = '<i class="bi bi-clipboard-check me-4"></i> {% translate "Copied" %}'
        }
    </script>
{% endblock %}