{% extends 'links/index.html' %}
{% load i18n %}
{% block title %}{% translate 'Links | Delete Link' %}{% endblock %}
{% block content %}
<div class="card card-body p-4 rounded-4 border-0">
  <h2 class="mb-4">
    {% translate 'Delete Link' %}
  </h2>
  <p class="lead mb-4">{{ url.url }}</p>
  <p class="lead mb-4">
    {% translate 'Are you sure you want to delete this link?' %}
  </p>
  {% if form.errors %}
  <div class="alert alert-danger rounded-4 shadow-sm" role="alert">
    <div class="badge bg-danger">{% translate 'Error' %}</div>
    {{ form.errors }}
  </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}

    <div class="d-flex flex-column flex-lg-row align-items-center gap-4">
      <button type="submit" class="btn btn-lg btn-danger w-100 shadow-sm rounded-3 fw-bold">
        {% translate 'Delete' %}
      </button>
      <a href="{% url 'links:url_detail' url.id %}" class="btn btn-lg btn-light w-100 shadow-sm rounded-3 fw-bold">
        {% translate 'Cancel' %}
      </a>
    </div>
  </form>
</div>
{% endblock %}