{% extends 'links/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Links | Link shortener' %}{% endblock %}
{% block body_attrs %}class="bg-light"{% endblock %}
{% block header %}
{% include 'links/components/navbar.html' %}
{% endblock %}
{% block main %}
<div class="container d-flex align-items-center justify-content-between">
  <div class="w-100 py-5">
    {% if messages %}
    {% include 'links/components/messages.html' %}
    {% endif %}

    {% block content %}
    <h1 class="display-1">
      <strong>{% translate 'Links' %}</strong>
    </h1>
    <p class="lead mb-4">
      {% blocktranslate %}
      An app that allows users to shorten long urls.
      {% endblocktranslate %}
    </p>
    <section class="row g-4">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-body p-4 rounded-4 border-0">
          <h2 class="mb-4">
            {% translate 'Open Source' %}
          </h2>
          <p class="lead mb-4">
            {% blocktranslate %}
            Links is an open source fast, scalable, secure web app built using Python and Django.
            {% endblocktranslate %}
          </p>
          <a class="btn btn-lg btn-dark w-100 shadow-sm rounded-3 fw-bold"
            href="https://github.com/youzarsiph/django-short-links.git">
            <i class="bi bi-github me-3"></i>
            {% translate 'Github' %}
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-body p-4 rounded-4 border-0">
          <h2 class="mb-4">
            {% translate 'Link Management' %}
          </h2>
          <p class="lead mb-4">
            {% blocktranslate %}
            Links allows you to manage your shortened links and track performance.
            {% endblocktranslate %}
          </p>
          <a class="btn btn-lg btn-dark w-100 shadow-sm rounded-3 fw-bold" href="{% url 'links:url_list' %}">
            <i class="bi bi-eye me-3"></i>
            {% translate 'View' %}
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-body p-4 rounded-4 border-0">
          <h2 class="mb-4">
            {% translate 'Give it a try' %}
          </h2>
          <form method="post" action="{% url 'links:create_url' %}">
            {% csrf_token %}
            <div class="form-floating mb-4">
              <input type="url" name="url" maxlength="200" required id="id_url" placeholder="{% translate 'Link' %}"
                class="form-control" value="{{ url.value }}">
              <label for="id_url" class="form-label">
                {% translate 'Link' %}
              </label>
              <small class="text-muted">
                {% translate 'The link to be shortened' %}
              </small>
            </div>
            <button type="submit" class="btn btn-lg btn-dark w-100 shadow-sm rounded-3 fw-bold">
              <i class="bi bi-scissors me-3"></i>
              {% translate 'Submit' %}
            </button>
          </form>
        </div>
      </div>
    </section>
    {% endblock %}
  </div>
</div>
{% endblock %}