{% extends 'links/base.html' %} {% load i18n %}
{% block title %}{% translate 'Links | URL shortener web app' %}{% endblock %}
{% block body_attrs %}class="overflow-hidden"{% endblock %}
{% block main %}
<div class="container d-flex align-items-center justify-content-between overflow-hidden" style="height: 100vh">
  <div class="w-100">
    <h1 class="display-1 fw-bold mb-4">
      <a href="{% url 'links:index' %}" class="text-decoration-none">
        {% translate 'Links' %}
      </a>
    </h1>
    {% block content %}
    <p class="lead mb-4">
      {% blocktranslate %}
      URL shortener Django app.
      {% endblocktranslate %}
    </p>
    {% if form.errors %}
    <div class="text-white p-3 border rounded-3" role="alert">
      {{ form.errors }}
    </div>
    {% endif %}
    <div class="card card-body p-4 rounded-4 shadow mb-5">
      <h2 class="mb-4">Shorten URL</h2>
      <form method="post" action="{% url 'links:create_url' %}">
        {% csrf_token %}
        <div class="form-floating mb-4">
          <input type="url" name="url" maxlength="200" required id="id_url" placeholder="{% translate 'URL' %}"
            class="form-control" value="{{ url.value }}">
          <label for="id_url" class="form-label">
            {% translate 'URL' %}
          </label>
          <small>
            {% translate 'The URL to be shortened' %}
          </small>
        </div>
        <button type="submit" class="btn btn-lg btn-primary w-100">
          <i class="bi bi-scissors me-3"></i>
          {% translate 'Cut' %}
        </button>
      </form>
    </div>
    <a class="btn btn-lg btn-dark w-100" href="https://github.com/youzarsiph/django-links.git">
      <i class="bi bi-github me-3"></i>
      {% translate 'Github' %}
    </a>
    {% endblock %}
  </div>
</div>
{% endblock %}