{% extends 'links/index.html' %}
{% load i18n %}
{% block title %}{% translate 'Links | My links' %}{% endblock %}
{% block body_attrs %}class="bg-light"{% endblock %}
{% block container_height %}{% endblock %}
{% block content %}
<h2 class="mb-4">
  {% translate 'My Links' %}
</h2>
<div class="d-flex align-items-lg-center justify-content-between gap-4 flex-column flex-lg-row mb-4">
  <p class="lead mb-0">
    {% translate 'Your shortened links will appear here.' %}
  </p>
  <a href="{% url 'links:create_url' %}" class="btn btn-lg btn-dark shadow-sm rounded-3 fw-bold">
    {% translate 'Add link' %}
  </a>
</div>
<section class="row g-4">
  {% for url in url_list %}
  <div class="col-12 col-md-6 col-lg-4">
    {% include 'links/components/url.html' %}
  </div>
  {% empty %}
  <div class="col-12">
    <div class="card card-body p-4 rounded-4 border-0">
      <h3 class="card-title mb-4">No shortened links!</h3>
      <div class="card-text">
        <p class="lead mb-4">{% translate 'It looks like you do not have any links.' %}</p>
        <a href="{% url 'links:create_url' %}" class="btn btn-lg btn-dark w-100 shadow-sm rounded-3 fw-bold">
          {% translate 'Add link' %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

{% include 'links/components/delete-modal.html' %}
{% endblock %}
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"
  integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const inform = (id) => {
    const copyBtn = new ClipboardJS(`#${id}`)

    const btn = document.getElementById(id)
    btn.innerHTML = '<i class="bi bi-clipboard-check-fill text-success"></i>'

    setTimeout(() => {
      btn.innerHTML = '<i class="bi bi-clipboard"></i>'
    }, 2000);
  }

  const onClick = (id) => {
    const form = document.getElementById('deleteForm')
    form.setAttribute('action', form.getAttribute('action').replace(form.getAttribute('data-last-id'), id))
    form.setAttribute('data-last-id', id)
  }
</script>
{% endblock %}